<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<div class="container">
    <div>
        <h1><a href="/">SHARE TIMER </a></h1>

        <h2>Create Timer</h2>
        <form action="/timer/new" method="post">
            <!--            <div>-->
            <!--                <label for="nickname">my nickName:</label><br>-->
            <!--                <input type="text" id="nickname" name="nickname"><br><br>-->
            <!--            </div>-->
            <div>
                <label for="timerName">Timer Name:</label><br>
                <input type="text" id="timerName" name="timerName"><br><br>
            </div>
            <button type="submit">Create Timer</button>
        </form>
    </div>

</div> <!-- /container -->
</body>
</html>